label {
    font-weight: 600;
    text-decoration: dashed underline;
}

input {
    border-radius: 4px;
    border: 1px solid #ccc;
}
input[type="button"] {
    text-decoration: wavy underline;
    color: red;
    cursor: pointer;
}