@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
:root {
    --primary-green-200: hsl(148, 38%, 91%);
    --primary-green-600: hsl(169, 82%, 27%);
    --primary-red: hsl(0, 66%, 54%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey-500: hsl(186, 15%, 59%);
    --neutral-grey-900: hsl(187, 24%, 22%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.karla-regular {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.karla-bold {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.body {
    background-color: var(--primary-green-200);
    min-height: 100vh;
}

.main {
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--neutral-white);
}

@media screen and (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        margin: 10px auto;
        padding: 40px;
        border-radius: 8px;
        height: 85vh;
        width: 75vw;
    }
    .main__form {
        width: 100%;
    }
}
